# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv/
env/

# IDE
.vscode/
.idea/

# Frontend (no necesario para el build del backend)
frontend/
frontend-react/
node_modules/
*.md
docs/
deployment/
